<div class="container">
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header" (click) = "onClick()">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>{{letter.title}}</span>
          <span style="padding-left: 20px">({{letter.date.toDateString()}})</span>
      </div>

      <div class="collapsible-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{letter.content}}
          <p style="padding-top:20px">
            <span>{{letter.date.toDateString()}}</span> <br>
            <span style="color: #0275d8">{{letter.signature}},</span>
            <span class="pull-right">
              <button *ngIf="this.authService.isLoggedIn.status" type="button" class ="btn btn-flat btn-outline-danger btn-sm" (click) ="onDelete()">Delete</button>
            </span>
            <span class="pull-right">
              <button type="button"
                      *ngIf="this.authService.isLoggedIn.status"
                      class ="btn btn-flat btn-outline-primary btn-sm"
                      data-toggle="modal" data-target="#editLetterModal" (click) = "onEdit()">Edit</button>&nbsp;
            </span>

          </p>

          <!--Comment component-->
          <hr>
          <app-comment [letterId] = "letter._id" *ngIf = "loadComment" ></app-comment>
      </div>

    </li>
  </ul>
</div>
