

<section #sologanSection (window:scroll)="onWindowScroll($event, sologanSection, downArrow)">
    <div class="bg-wrap">
        <div class="bg slogan" style="background-image: url('./assets/images/slogan3.jpg');"> 
        <!--http://weebly.com/uploads/8/9/3/1/89318564/background-images/239996890.jpg'-->
          <div>
            <h1 class=" wow fadeInUp">Pontes Network</h1>
            <p  class="wow fadeInUp" data-wow-delay="0.4s">Make the World a Better Place</p>             
          </div>
          <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>

        </div>
    </div>
    
    <!------------------------------------------------------------>
    
    <div #downArrow class="downArrow bounce">
      <img width="40" height="40"  src="./assets/images/down-arrow.svg">
      </div>
    <!------------------------------------------------------------>

</section>

