section{
  height: 100vh;
  background: url("./assets/images/slogan.jpg");
  background-size: cover;
  background-position: center;
  .slogan{
    background-color: rgba(41, 144, 234, 0.5);
    padding-top: 40vh;
    text-align: center;
    color: white;
    height: 100%;
  }
}
