<!--- Team ----->


<section class ="investers">
    <div class="container">
      <h2 class="wow fadeInUp">Board of Directors</h2>
      <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem Ipsum passages, and more recently with desktop publishing software</p>
        <div class="row">
            <div class="col-md-4 wow fadeInLeft" data-wow-delay="2s">
                <img class="rounded-circle" src=""  alt="">
                <h4>Dr. Mai Le Del Buono</h4>
                <b>President and Founder<br>Professor, San Jose City College</b>
                <p>Lorem Ipsum passages, and more recently with desktop publishing software</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </div>
            <div class=" col-md-4  wow fadeInLeft"  data-wow-delay="1.6s">
                <img class="rounded-circle" src="" alt="">
                <h4>Barry Del Buono</h4>
                <b>MSW, MDiv.<br>Executive Director</b>
                <p>Lorem Ipsum passages, and more recently with desktop publishing software</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4 wow fadeInLeft"  data-wow-delay="1.2s">
                <img src="" class="rounded-circle" alt="">
                <h4>Mr. Don Ho, Jr.</h4>
                <b>Vice President<br>Associate, IDG Ventures Capital Investment Firm, Vietnam</b>
                <p>Lorem Ipsum passages, and more recently with desktop publishing software</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </div>
            
        </div>
    </div>
</section>
