<!--- Awards ----->
<div style = "padding: 33px" id = "pontesNetwork" >

</div>
<section class="header">
    <div class="container">
      <h2 class="wow fadeInUp">Received Awards</h2>
    </div>
</section>

<section class ="awards">
    <div class="container">
      <!--<h2 class="wow fadeInUp">Awards</h2>-->
      <p class="wow fadeInUp"></p>
        <div class="row">
            <div class="col-md-4 wow fadeInLeft">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Interagency Council on Homelessness Innovation Award</h4>
                <b> Washington DC</b>
                <p>Description of the award</p>

            </div>

                  <div class="col-md-4 wow fadeInDown">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Board Exemplary Leader Award</h4>
                <b> California State Bar Association</b>
                <p>Description of the award</p>

            </div>
                    <div class="col-md-4 wow fadeInRight" >
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Distinguished Alumni Award</h4>
                <b> SJSU College of Social Work, San Jose</b>
                <p>Description of the award</p>

            </div>
                     <div class="col-md-4 wow fadeInLeft" >
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Resolution Commending Exemplary Service</h4>
                <b> California State Assembly 24th District</b>
                <p>Description of the award</p>

            </div>
            <div class="col-md-4 wow fadeInDown"  >
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Resolution Commending Exemplary Service</h4>
                <b> California State Senate Rules Committee</b>
                <p>Description of the Award</p>

            </div>
            <div class="col-md-4 wow fadeInRight"  >
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Resolution Commending Exemplary Service</h4>
                <b> California State Senate 13th District </b>
                <p>Description of the Award</p>

            </div>

             <div class="col-md-4 wow fadeInLeft"  >
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Charles L. Edson Tax Credit Excellence Award</h4>
                <b>>Washington DC</b>
                <p>Description of the award</p>

            </div>
             <div class="col-md-4 wow fadeInDown"  >
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Don McGaffin Award of Excellence in Housing</h4>
                <b> Housing and Community Development, County of Santa Clara</b>
                <p>Description</p>

            </div>

                  <div class="col-md-4 wow fadeInRight" >
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Humanitarian of the Year</h4>
                <b> Italian American Heritage Foundation, Humanitarian Award City of San Jose</b>
                <p>Description</p>

            </div>
            <div class="col-md wow fadeInDown"  >
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Outstanding Professional Fundraiser</h4>
                <b> Association of Fundraising Professionals</b>
                <p>Description of the award</p>

            </div>
            
        </div>
    </div>
</section>
