<!--- Awards ----->
<section class="header">
    <div class="container">
      <h2 class="wow fadeInUp">Awards</h2>
    </div>
</section>

<section class ="awards">
    <div class="container">
      <!--<h2 class="wow fadeInUp">Awards</h2>-->
      <p class="wow fadeInUp" data-wow-delay="0.4s"></p>
        <div class="row">
            <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.5s">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Interagency Council on Homelessness Innovation Award</h4>
                <b>Date<br>Washington DC</b>
                <p>Description of the award</p>
       
            </div>
        
                  <div class="col-md-4 wow fadeInDown" data-wow-delay="1.5s">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Board Exemplary Leader Award</h4>
                <b>Date<br>California State Bar Association</b>
                <p>Description of the award</p>
       
            </div>
                    <div class="col-md-4 wow fadeInRight"  data-wow-delay="1.4s">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Distinguished Alumni Award</h4>
                <b>Date<br>SJSU College of Social Work, San Jose</b>
                <p>Description of the award</p>
                
            </div>
                     <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.6s">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Resolution Commending Exemplary Service</h4>
                <b>Date<br>California State Assembly 24th District</b>
                <p>Description of the award</p>
       
            </div>
            <div class="col-md-4 wow fadeInDown"  data-wow-delay="1.6s">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Resolution Commending Exemplary Service</h4>
                <b>Date<br>California State Senate Rules Committee</b>
                <p>Description of the Award</p>
                
            </div>
            <div class="col-md-4 wow fadeInRight"  data-wow-delay="1.6s">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Resolution Commending Exemplary Service</h4>
                <b>Date<br>California State Senate 13th District </b>
                <p>Description of the Award</p>
                
            </div>
    
             <div class="col-md-4 wow fadeInLeft"  data-wow-delay="1.7s">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Charles L. Edson Tax Credit Excellence Award</h4>
                <b>Date<br>Washington DC</b>
                <p>Description of the award</p>
                
            </div>           
             <div class="col-md-4 wow fadeInDown"  data-wow-delay="1.7s">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Don McGaffin Award of Excellence in Housing</h4>
                <b>Date<br>Housing and Community Development, County of Santa Clara</b>
                <p>Description</p>
                
            </div>      
     
                  <div class="col-md-4 wow fadeInRight"  data-wow-delay="1.7s">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Humanitarian of the Year</h4>
                <b>Date<br>Italian American Heritage Foundation, Humanitarian Award City of San Jose</b>
                <p>Description</p>
                
            </div>  
            <div class="col-md wow fadeInDown"  data-wow-delay="1.8s">
                <img class="" src="./assets/images/award.png" alt="">
                <h4>Outstanding Professional Fundraiser</h4>
                <b>Date<br>Association of Fundraising Professionals</b>
                <p>Description of the award</p>
          
            </div> 
        </div>
    </div>
</section>


      <!--<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
      <!--          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
      <!--          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
      <!--          <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>-->
