<section>
    
    
</section>a<!--- Team ----->
<section class="header">
    <div class="container">
      <h2 class="wow fadeInUp">Our Funders</h2>
    </div>
</section>

<section class ="investors">
    <div class="container">
      
      <p class="wow fadeInUp" data-wow-delay="0.4s"></p>
        <div class="row">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/Adobe.png" class="" alt="">
                <h4>Adobe Systems Foundation</h4>

            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/funders.png" class="" alt="">
                <h4>Randy and Cindy Pond</h4>
                
           
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/family.png" class="" alt="">
                <h4>George and July Marcus Family Foundation</h4>
                
     
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/funders.png" class="" alt="">
                <h4>John and Sue Sobrato</h4>
                
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/funders.png" class="" alt="">
                <h4>John Michael Sobrato</h4>
                
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/santaclara.png" class="" alt="">
                <h4>County of Santa Clara</h4>
                
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/doe.png" class="" alt="">
                <h4>Department of Education Title V Grant</h4>
                
            </div>           
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/homedepot.png" class="" alt="">
                <h4>The Home Depot Foundation</h4>
                
            </div>      
     
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/jetblue.png" class="" alt="">
                <h4>Jet Blue Airlines</h4>
                
            </div>  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/alaskanairlines.png" class="" alt="">
                <h4>Alaskan Airlines</h4>
          
            </div> 
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/hilton.png" class="" alt="">
                <h4>Hilton Hawaiian Village</h4>
          
            </div> 
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/family.png" class="" alt="">
                <h4>The Thomas R. Bettencourt Endowment Fund</h4>
          
            </div> 
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/funders.png" class="" alt="">
                <h4>Rob and Lisa Reckis</h4>
          
            </div> 
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/family.png" class="" alt="">
                <h4>The Davidson Family Foundation</h4>
          
            </div> 
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/family.png" class="" alt="">
                <h4>The Huge Stuart Center Charitable Trust</h4>
          
            </div> 
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/family.png" style=""class="" alt="">
                <h4>Teachers Academy Foundation</h4>
          
            </div> 
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/family.png" class="" alt="">
                <h4>Milligan Family Foundation</h4>
          
            </div> 
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/funders.png" class="" alt="">
                <h4>John Bui and Christine Nguyen</h4>
          
            </div> 
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1s">
                <img src="./assets/images/funders.png" class="" alt="">
                <h4>Barry and Maile Del Buono</h4>
          
            </div> 
        </div>
    </div>
</section>


      <!--<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
      <!--          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
      <!--          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
      <!--          <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>-->
