/* You can add global styles to this file, and also import other style files */
@import "./custom_scss/bootstrap/scss/bootstrap";

@import "./custom_scss/animate";
$mainColor: rgb(41, 144, 234);

html, body {
    width: 100%;
    height: 100%;
    font-family: Dosis;
    font-size: 1em;
}


.bg-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    will-change: transform;
}

//style all link tag
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: #2990ea !important;
}

//form validate style
input.ng-touched.ng-invalid{
    border-bottom: 1px solid #F44336;
    -webkit-box-shadow: 0 1px 0 0 #F44336;
          box-shadow: 0 1px 0 0 #F44336;
}

   /* label focus color */
   .input-field input:focus + label {
     color: #0275d8 !important;
   }
   /* label underline focus color */
   .input-field input:focus {
     border-bottom: 1px solid #0275d8 !important;
     box-shadow: 0 1px 0 0 #0275d8 !important;
   }

   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #0275d8;
   }
