<!--- Team ----->


<section class ="investers">
    <div class="container">
      <h2 class="wow fadeInUp">Notable Funders</h2>
      <hr style= "width: 60%">
        <div class="row">

            <div class="col-md-4  wow fadeInUp" >
                <img src="./assets/images/Adobe.png" alt="">
                <h4>Adobe Systems Foundation</h4>

            </div>
            <div class="col-md-4  wow fadeInUp" >
                <img src="./assets/images/santaclara.png" alt="">
                <h4>County of Santa Clara</h4>

            </div>
            <div class="col-md-4  wow fadeInUp">
                <img src="./assets/images/jetblue.png"  alt="">
                <h4>Jet Blue Airlines</h4>

            </div>
             <div class="col-md-6  wow fadeInLeft">
                <img src="./assets/images/homedepot.png"  alt="">
                <h4>The Home Depot Foundation</h4>

            </div>
             <div class="col-md-6  wow fadeInRight">
                <img src="./assets/images/hilton.png"  alt="">
                <h4>Hilton Hawaiian Village</h4>

            </div>
        </div>
    </div>
</section>
