.home-contact-form{
  .container{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 800px;
  }
}
@media screen and (max-width: 576px) {
    .container {
        width: 100% !important;
        padding: 0px;
    }
}
