<title>Donation - Pontes Network</title>

<div class="donation-header">
  <div class="filter">
    <div class="container">
       <p>
        "The value of life is not in its duration, but in its donation. You are not important because of how long you live, you are important because of how effective you live."
        <br>
        <span>Myles Munroe</span>
      </p>
    </div>

  </div>

</div >

<div class="container" style = "text-align: center; margin-top: 30px; margin-bottom: 20px">
  <h4>Ending poverty begins with you!</h4>
</div>

<div class="container" style="margin-bottom: 40px">
  <div class="row">
    <div class="col-12 " style="text-align: center">


    <form #donationForm action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="U3JLDZ5N8HU32">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"  (click)="donationForm.submit()" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>






    </div>

  </div>

</div>
