<!-- comments list of a letter -->
<h5>List of Comments</h5>
  <div class="comment">
    <i class="fa fa-user-circle-o" aria-hidden="true" style="color: #0275d8"></i>
      <span style="color: #0275d8">&nbsp; Peter</span> <span class="pull-right" style="opacity: 0.6; font-size: 0.9em">Aug 16, 2017</span> <br>
      <span>Email@gmail.com</span>
    <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
    </p>
  </div>
  <div class="comment">
    <i class="fa fa-user-circle-o" aria-hidden="true" style="color: #0275d8"></i>
      <span style="color: #0275d8"> &nbsp;Peter</span> <span class="pull-right" style="opacity: 0.6; font-size: 0.9em">Aug 16, 2017</span> <br>
      <span>Email@gmail.com</span>
    <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
    </p>
  </div>
  <div class="comment">
    <i class="fa fa-user-circle-o" aria-hidden="true" style="color: #0275d8"></i>
      <span style="color: #0275d8">&nbsp;Peter</span> <span class="pull-right" style="opacity: 0.6; font-size: 0.9em">Aug 16, 2017</span> <br>
      <span>Email@gmail.com</span>
    <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
    </p>
  </div>





<!--  The new comment form -->
<!-- <div style="text-align: center" style = "max-width: 600px">
  <h5 style="color: #2990ea">Leave A Comment</h5>
    <form [formGroup] ="newCommentForm" (ngSubmit)="onSubmit()" style="padding-top: 30px">
      <div class="row">
        <div class="input-field col col-lg-6 col-sm-12 col-12">
          <i class="fa fa-user-o prefix" aria-hidden="true"></i>
          <input id="name"
                 type="text"
                 formControlName = "name">
          <label for="name" data-error = "Please enter your name" >Your Name</label>
        </div>
        <div class="input-field col col-lg-6 col-sm-12 col-12">
          <i class="fa fa-envelope-o prefix" aria-hidden="true"></i>
          <input id="email"
                 type="text"
                 formControlName = "email">
          <label for="email" data-error = "Please enter an valid email" >Your Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <i class="fa fa-pencil-square-o prefix" aria-hidden="true"></i>
          <textarea id="textarea1"
                    class="materialize-textarea"
                    formControlName = "message"></textarea>
          <label for="textarea1" data-error = "Please enter your message">Textarea</label>
        </div>
      </div>
      <button [disabled]="!contactForm.valid"
              type="submit"
              class="waves-effect waves-light btn btn-flat btn-outline-primary" >
              <i *ngIf="loadingIcon" style ="font-size: 0.8em"class="fa fa-refresh fa-spin"></i>
              Send
      </button>
    </form>



</div> -->
