section{
  background: white;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 20vh;
  .container{
    padding-top: 20px;
    margin-top: auto;
    margin-bottom: auto;
    .row{
      padding-top: 20px;
    }
  }
  a{
    margin-top: 20px;
  }
}
