<section>
  <div class="outsideContainer">
    <div class="container text-center ">
        <h2 class="wow fadeInUp">Honorable Award</h2>

        <!-- <p class="wow fadeInUp" data-wow-delay="0.4s" style="color:white">Barry Del Buono<br>Co-Founder</p> -->

        <p class="wow fadeInUp" style="color: white">Pontes Network has received many awards</p>

        <div class="row align-middle">

          <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0s" >
            <div class="card" >
              <div class="card-block">
                <h4 class="card-title">Interagency Council on Homelessness Innovation Award</h4>
                <p class="card-text">Interagency Council on Homelessness Innovation Award, Washington DC</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0.4s">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Humanitarian of the Year</h4>
                <p class="card-text">City of San Jose</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0.8s" >
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Board Exemplary Leader Award</h4>
                <p class="card-text">California State Bar Association</p>
              </div>
            </div>
          </div>
        </div>

          <a [routerLink]="['/about']" fragment="pontesNetwork" (click)="gotoHashtag('pontesNetwork')" class="btn btn-outline-secondary center-block wow fadeIn" data-wow-delay="0.8s">view more</a>

      </div>
  </div>


  </section>
