<section>
  <div class="container text-center ">
      <h2 class="wow fadeInUp">Honorable Award</h2>
      <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem Iasdspsum passages, and more recently with desktop publishing software</p>
      <div class="row align-middle">

        <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0s" >
          <div class="card" >
            <div class="card-block">
              <h4 class="card-title">Award 1</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>


        <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0.4s">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Award 2 title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay="0.8s" >
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Award 3</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>

        <a href="#" class="btn btn-outline-primary center-block wow fadeIn" data-wow-delay="1.1s">view more</a>

    </div>
  </section>
