section{
  background: url('./assets/images/mission.jpg');
  .outsideContainer{
    z-index:10;
    background: rgba(128, 127, 255, 0.6);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 120%;
    width: 100%;
    .container{
      background: transparent;
      h2{color: white;}
      padding-top: 20px;
      margin-top: auto;
      margin-bottom: auto;
      .row{
          padding-top: 20px;
          @media screen and (min-width: 992px) {
            .card{
              height: 165px;
            }
          }
      }

    }
    a{

      margin-top: 20px;
    }
  }

}
