<div style="text-align: center">
  <h3 style="color: #2990ea">Leave A Message</h3>
    <form style="padding-top: 30px">
      <div class="row">
        <div class="input-field col-lg-6">
          <i class="fa fa-user-o prefix" aria-hidden="true"></i>
          <input id="name" type="text">
          <label for="name" style="padding-left: 15px">Your Name</label>
        </div>
        <div class="input-field col-lg-6">
          <i class="fa fa-envelope-o prefix" aria-hidden="true"></i>
          <input id="email" type="email">
          <label for="email" style="padding-left: 15px">Your Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <i class="fa fa-bookmark-o prefix" aria-hidden="true"></i>
          <input id="subject" type="text">
          <label for="subject">Subject</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <i class="fa fa-pencil-square-o prefix" aria-hidden="true"></i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
      <button
              type="submit"
              class="waves-effect waves-light btn btn-flat btn-outline-primary" >
              Send
      </button>
    </form>



</div>
