<!--- Team ----->
<section class="header">
    <div class="container">
      <h2 class="wow fadeInUp">Board of Directors</h2>
      <hr style= "width: 50%">
    </div>
</section>

<section class ="listDirectors">
    <div class="container">
        <div class="row">
            <div class="col-md-3 wow fadeInUp">
                <img class="rounded-circle" src="./assets/images/image11-35.jpeg"  alt="">
                <h4>Dr. Mai Le Del Buono</h4>
                <b>President and Founder<br>Professor, San Jose City College</b>


            </div>
            <div class=" col-md-3  wow fadeInUp">
                <img class="rounded-circle" src="./assets/images/Barry Del Buono, Executive Director, CEO Pontes, Inc..JPG" alt="">
                <h4>Barry Del Buono</h4>
                <b>MSW, MDiv.<br>Executive Director</b>
                

            </div>
            <div class="col-md-3 wow fadeInUp"  >
                <img src="./assets/images/Don Ho.png" class="rounded-circle" alt="">
                <h4>Mr. Don Ho, Jr.</h4>
                <b>Vice President<br>Associate, IDG Ventures Capital Investment Firm, Vietnam</b>


            </div>
            <div class="col-md-3 wow fadeInUp" >
                <img src="./assets/images/image1-16.jpeg" class="rounded-circle" alt="">
                <h4>Ms. Ragan Henninger</h4>
                <b>Secretary Treasurer<br>Chief Strategist</b>


            </div>
            <div class="col-md-3 wow fadeInUp" >
                <img src="./assets/images/Marreisa Holden, Medical Student, UCLA Medical School.JPG" class="rounded-circle" alt="">
                <h4>Marissa Holden</h4>
                <b>Mesical Student<br>UCLA Medical School</b>


            </div>
            <div class="col-md-3 wow fadeInUp" >
                <img src="./assets/images/Catherine Ho, Student, University of California Santa Cruz.JPG" class="rounded-circle" alt="">
                <h4>Catherine Ho</h4>
                <b>Student<br>UC Santa Cruz</b>


            </div>
             <div class="col-md-3 wow fadeInUp">
                <img src="./assets/images/Micah Del Buono, Silicon Valley Technology.JPG" class="rounded-circle" alt="">
                <h4>Micah Del Buono</h4>
                <b>Amazon Inc.</b>


            </div>
             <div class="col-md-3 wow fadeInUp" >
                <img src="./assets/images/Daniel Ho, MA Architecture & MBA Candidate, Washington University, St. Louis, MO.JPG" class="rounded-circle" alt="">
                <h4>Mr. Daniel Ho</h4>
                <b>Architecture & MBA Program<br>Washington University, St. Louis</b>


            </div>

                  <div class="col-md-3 wow fadeInUp" >
                <img src="./assets/images/Ben Del Buono, Medical Student, VCU Medical School.JPG" class="rounded-circle" alt="">
                <h4>Ben Del Buono</h4>
                <b>MSW, MDiv.<br>Executive Director</b>


            </div>
            <div class="col-md-3 wow fadeInUp" >
                <img src="./assets/images/image1-small-17.jpg" class="rounded-circle" alt="">
                <h4>Dr. Mai Nhung Le-Stewart</h4>
                <b>Professor<br>San Fransisco State University</b>


            </div>
        </div>
    </div>
</section>


      <!--<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
      <!--          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
      <!--          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
      <!--          <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>-->
