<div class="outside-slide">
  <h4 style= "color: white">Pictures of Pontes Network</h4>
  <!--<div class="carousel">-->
    <!--<a class="carousel-item" href="#three!"><img class="materialboxed" width="200" src="./assets/images/carousel3.jpg"></a>-->
    <!--<a class="carousel-item" href="#five!"><img class="materialboxed" width="200" src="./assets/images/carousel5.jpg"></a>-->
    <!--<a class="carousel-item" href="#six!"><img  class="materialboxed" width="200"src="./assets/images/carousel6.jpg"></a>-->
  <!--</div>-->



  <div class="slider container">
    <ul class="slides">
      <li>
        <img   src="./assets/images/carousel6.jpg">
        <!--<div class="caption center-align">-->
        <!--  <h3>This is our big Tagline!</h3>-->
        <!--  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
        <!--</div>-->
      </li>
      <li>
        <img   src="./assets/images/carousel3.jpg">
        <!--<div class="caption left-align">-->
        <!--  <h3>Left Aligned Caption</h3>-->
        <!--  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
        <!--</div>-->
      </li>
      <li>
        <img  src="./assets/images/carousel5.jpg">
        <!--<div class="caption right-align">-->
        <!--  <h3>Right Aligned Caption</h3>-->
        <!--  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
        <!--</div>-->
      </li>
    </ul>
  </div>
      
</div>
