<div class="outside-carousel">
  <h4 style= "color: white">Pictures of Pontes Network</h4>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="./assets/images/carousel1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="./assets/images/carousel2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="./assets/images/carousel3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="./assets/images/carousel4.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="./assets/images/carousel5.jpg"></a>
    <a class="carousel-item" href="#six!"><img src="./assets/images/carousel6.jpg"></a>
    <a class="carousel-item" href="#seven!"><img src="./assets/images/carousel7.jpg"></a>
  </div>

</div>
