<hr class="hidden-md-up" style="margin-top: 30px">
<div class="row">
  <div class="col">
    <h3 style="color: #2990ea; padding-bottom: 30px">Our Office's Info</h3>
    <p><i class="fa fa-home" aria-hidden="true"></i> 54 South 14th Street, San Jose, CA 95144</p>
    <p><i class="fa fa-envelope" aria-hidden="true"></i> info@pontesnetwork.com</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i> +1 (408) 222 2222</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.0363345056257!2d-121.87829518501961!3d37.341648479840636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fccc1b2961c1f%3A0x326d4826da9354e0!2s54+S+14th+St%2C+San+Jose%2C+CA+95112!5e0!3m2!1sen!2sus!4v1502694968102" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

  </div>

</div>
