




<section id ="program1">
  <div class="mission-content-left">
    
    <div class="container">
      <div class= "row">
        
        <div class="col-md-6">
            <img src="./assets/images/affordable_student.jpg">
        </div>
        
        <div class="col-md-6">
            <h1 class="wow fadeInUp" data-wow-delay="0s">Making Affordable Student and Teacher Housing in California</h1>
            <h4 class="wow fadeInUp" data-wow-delay="0.4s">San Jose City College Sociology Club's Microloan Program</h4>
            <p class="wow fadeInUp" data-wow-delay="0.8s" style="padding-top:25px">There are more than 55,000 homeless college students nationwide, including more than 3,000 teachers who cannot afford Bay Area housing in California alone according to federal data reported by California State University and the National Center for Homeless Education, which is funded by the U.S. Department of Education (2016). Stable housing is a key component of healthy living.
            </p>
        </div>

      </div>
    </div>
  </div>
</section>


<section id ="program2">
  <div class="mission-content-right">
    
    <div class="container">
      <div class= "row">
        <div class="col-md-6">
            <h1 class="wow fadeInUp" data-wow-delay="0s">Promoting Strong Higher Education for Low Income Student</h1>
            <h4 class="wow fadeInUp" data-wow-delay="0.4s">San Jose City College Sociology Club's Microloan Program</h4>
            <p class="wow fadeInUp" data-wow-delay="0.8s" style="padding-top:25px">The Sociology Club at San Jose City College’s microloan program lends students emergency cash. The Club wanted to fill a gap funding that wasn’t being addressed. An ‘A’ student and club member missed an important sociology exam because his car broke down, and he did not have funds for the repair. As a result he dropped out of college to work full time. Club members learned of this incident and began reading about microfinance and wondered whether such a program could be useful at the College.
            </p>
        </div>
        <div class="col-md-6">
            <img src="./assets/images/low_income_student.jpg">
        </div>
      </div>
    </div>
  </div>
</section>


<section id ="program3">
  <div class="mission-content-left">
    
    <div class="container">
      <h1 class="wow fadeInUp" data-wow-delay="0s">Silicon Valley Technology Internship Program</h1>
      <p class="wow fadeInUp" data-wow-delay="0.4s" style="padding-top:25px">Pontes Network is driven to promote race gender, and class in Technology Driven Companies and San Jose City College. There is a known lack of diversity within STEM-related and technology-driven companies.</p>

    </div>
  </div>
</section>

