section{
   background: url('./assets/images/mission.jpg');

  height: 70vh;
  background-size: cover;
  background-position: center;
  
  .mission-content-left{
    background-color: rgba(41, 144, 234, 0.5);
    padding-top: 10vh;
    padding-right: 25vh;
    text-align: left;
    color: white;
    height: 100%;
  }
  
  .mission-content-right {
    background-color: rgba(41, 144, 234, 0.5);
    padding-top: 10vh;
    padding-left: 25vh;
    text-align: left;
    color: white;
    height: 100%;   
  }
}
img{
  width:100%;
}

#program1{
  background: #071b26 !important;
}
#program3{
  background: #071b26 !important;
}