<title>Contact - Pontes Network</title>
<div class="background-picture">
  <div class="filter">
      <h2>Contact Us</h2>
      <div style="letter-spacing: 20px; padding-top: 20px; padding-bottom: 40px;">
        <i class="social fa fa-facebook" aria-hidden="true"></i>
        <i class="social fa fa-twitter" aria-hidden="true"></i>
       <i class="social fa fa-linkedin" aria-hidden="true"></i>
       <i class="social fa fa-envelope-o" aria-hidden="true"></i>
      </div>
  </div>

</div>
<div class="container">
  <div class="contact">
    <!-- <div class="g-12 cols contact-blurb" style="background:black; margin-top: 20vh">
      <h2>Contact Us</h2>
      <p style= "margin-bottom: 0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="g-12 cols pointer-wrap col-md-12" style= "color:#9abfe0">
      <svg class="pointer" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height='15vh' viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z"></path>
      </svg>
    </div> -->
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <app-contact-form></app-contact-form>
      </div>
      <div class="col-md-4 col-sm-12">
        <app-contact-map></app-contact-map>
      </div>
    </div>
      <app-contact-messages *ngIf="this.authService.isLoggedIn.status"></app-contact-messages>
  </div>
</div>
