<div class="container" style="text-align: center; margin-top: 50px; margin-bottom: 20px" >
  <!--Button trigger modal -->
  <button type="button" class=" waves-effect waves-light btn-flat btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#authenticationModal">
   Admin Login
  </button>

  <!--Modal -->
  <div class="modal fade" id="authenticationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle">Admin Login</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <form [formGroup] = "loginForm" (ngSubmit) = "onSubmit()" >
             <div class="modal-body">
               <h4 *ngIf = '!successLogin&&isSubmit' style= "color: orange"> <i class="fa fa-times-circle" aria-hidden="true"></i> The username or password is incorrect</h4>
               <div *ngIf = 'successLogin'>
                 <h4 style= "color: #0275d8"> <i class="fa fa-check-circle" aria-hidden="true"></i> Wellcome, Admin!</h4>
                 <p> Somethings you can do:</p>
                   <ul style= 'text-align: left; padding-left: 10px'>
                     <li>1. View messages of users in the Contact page.</li>
                     <li>2. View how much money that Pontes Network got in the Donation page.</li>
                     <li>3. Post monthly letters in the Checkin page.</li>
                     <li>4. Contact webmaster Phan Le at lephan031994@gmail.com for further help.</li>
                   </ul>
                   <p>Have a good day!</p>
               </div>
               <div *ngIf='!successLogin' >

                   <div class="row">
                     <div class="input-field col s12">
                       <i class="prefix fa fa-user-circle" aria-hidden="true"></i>
                       <input id="username"
                              type="text"
                              formControlName="username">
                       <label for="username" data-error = "Please enter admin account">Admin account</label>
                     </div>
                   </div>

                   <div class="row">
                     <div class="input-field col s12">
                       <i class="prefix fa fa-key" aria-hidden="true"></i>
                       <input id="password"
                              type="password"
                              formControlName ="password">
                       <label for="password"  data-error = "Please enter password">Password</label>
                     </div>
                   </div>

               </div>
               <p *ngIf = '!successLogin&&isSubmit' style= "color: orange; padding-left: 40px">Contact the webmaster if you need help.</p>

           </div>
           <div class="modal-footer">
             <button *ngIf = '!successLogin' [disabled]="!loginForm.valid"
                     (click) = "onLogin()"
                     type="submit"
                     class="waves-effect waves-light btn btn-flat btn-outline-primary" >
                     <i *ngIf="loadingIcon" style ="font-size: 0.9em"class="fa fa-refresh fa-spin"></i> Login
             </button>

             <button type="button" class="waves-effect waves-light btn btn-flat btn btn-outline-warning" data-dismiss="modal">Cancel</button>
           </div>
     </form>
     </div>
   </div>
  </div>

</div>
