 <!--Button trigger modal -->
<button type="button" class=" waves-effect waves-light btn-flat btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#authenticationModal">
  Admin Login
</button>

 <!--Modal -->
<div class="modal fade" id="authenticationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Admin Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup] = "loginForm" (ngSubmit) = "onSubmit()" >
            <div class="modal-body">
            
              <div class="row">
                <div class="input-field col s12">
                  <i class="prefix fa fa-user-circle" aria-hidden="true"></i>
                  <input id="username" 
                         type="text" 
                         formControlName="username"
                         data-error = "Please enter admin account">
                  <label for="username"> Admin account</label>
                </div>
              </div>
              
              <div class="row">
                <div class="input-field col s12">
                  <i class="prefix fa fa-key" aria-hidden="true"></i>
                  <input id="password" 
                         type="password" 
                         formControlName ="password"
                         data-error = "Please enter password">
                  <label for="password">        Password</label>
                </div>
              </div>
            
          </div>
          <div class="modal-footer">
            <button (click) = "onLogin()" type="submit" class="waves-effect waves-light btn btn-flat btn-outline-primary" ><i *ngIf="show" style ="font-size: 0.9em"class="fa fa-refresh fa-spin"></i> Login</button>
            <button type="button" class="waves-effect waves-light btn btn-flat btn btn-outline-info" data-dismiss="modal">Cancel</button>
          </div>
    </form>
    </div>
  </div>
</div>
 
 
