




<section id ="program1">
  <div class="mission-content-left">
    
    <div class="container">
      <div class= "row">
        
        <div class="col-md-6">
            <img src="./assets/images/affordable_student.jpg">
        </div>
        
        <div class="col-md-6">
            <h1 class="wow fadeInUp" data-wow-delay="0s">Making Affordable Student and Teacher Housing in California</h1>
            <h4 class="wow fadeInUp" data-wow-delay="0.4s">San Jose City College Sociology Club's Microloan Program</h4>
            <p class="wow fadeInUp" data-wow-delay="0.8s" style="padding-top:25px">There are more than 55,000 homeless college students nationwide, including more than 3,000 teachers who cannot afford Bay Area housing in California alone according to federal data reported by California State University and the National Center for Homeless Education, which is funded by the U.S. Department of Education (2016). Stable housing is a key component of healthy living.
            </p>
        </div>

      </div>
    </div>
  </div>
</section>


<section id ="program2">
  <div class="mission-content-right">
    
    <div class="container">
      <div class= "row">
        <div class="col-md-6">
            <h1 class="wow fadeInUp" data-wow-delay="0s">Promoting Strong Higher Education for Low Income Student</h1>
            <h4 class="wow fadeInUp" data-wow-delay="0.4s">San Jose City College Sociology Club's Microloan Program</h4>
            <p class="wow fadeInUp" data-wow-delay="0.8s" style="padding-top:25px">The Sociology Club at San Jose City College’s microloan program lends students emergency cash. The Club wanted to fill a gap funding that wasn’t being addressed. An ‘A’ student and club member missed an important sociology exam because his car broke down, and he did not have funds for the repair. As a result he dropped out of college to work full time. Club members learned of this incident and began reading about microfinance and wondered whether such a program could be useful at the College.
            </p>
        </div>
        <div class="col-md-6">
            <img src="./assets/images/low_income_student.jpg">
        </div>
      </div>
    </div>
  </div>
</section>


<section id ="program3">
  <div class="mission-content-left">
    
    <div class="container">
      <h1 class="wow fadeInUp" data-wow-delay="0s">Silicon Valley Technology Internship Program</h1>
      <p class="wow fadeInUp" data-wow-delay="0.4s" style="padding-top:25px">Pontes Network is driven to promote race gender, and class in Technology Driven Companies and San Jose City College. There is a known lack of diversity within STEM-related and technology-driven companies.</p>

    </div>
  </div>
</section>

<section id ="program2">
  <div class="mission-content-right">
    
    <div class="container">
      <div class= "row">
        <div class="col-md-6">
            <h1 class="wow fadeInUp" data-wow-delay="0s">Preventing Chronic Homelessness</h1>
            <!--<h4 class="wow fadeInUp" data-wow-delay="0.4s">San Jose City College Sociology Club's Microloan Program</h4>-->
            <p class="wow fadeInUp" data-wow-delay="0.8s" style="padding-top:25px">Pontes Network will increase the housing necessary to make chronically homeless individuals stable, and make available life saving services on their behalf.</p>
        </div>
        <div class="col-md-6">
            <img src="./assets/images/low_income_student.jpg">
        </div>
      </div>
    </div>
  </div>
</section>

<section id ="program1">
  <div class="mission-content-left">
    
    <div class="container">
      <div class= "row">
      
        <div class="col-md-6">
            <img src="./assets/images/low_income_student.jpg">
        </div>
      
        <div class="col-md-6">
            <h1 class="wow fadeInUp" data-wow-delay="0s">Preventing the ravages of Diabetes</h1>
            
            <p class="wow fadeInUp" data-wow-delay="0.8s" style="padding-top:25px">Pontes Network is tackling these challenges head on through diabetes screening, detection, and diabetes family education through the Roberto Clemente Clinic in Nicaragua.</p>
        </div>
      
      </div>
    </div>
  </div>
</section>

<section id ="program2">
  <div class="mission-content-right">
    
    <div class="container">
      <div class= "row">
        <div class="col-md-6">
            <h1 class="wow fadeInUp" data-wow-delay="0s">Construction of Hospitals and Strengthening Medical Service</h1>
            <h4 class="wow fadeInUp" data-wow-delay="0.4s" style="margin-top:10px">Sapa Private Hospital, Vietnam</h4>
            <p class="wow fadeInUp" data-wow-delay="0.8s" style="padding-top:25px">The focus of the project is to increase medical care with the construction of a new hospital with the capability of providing essential health services.</p>
        </div>
        <div class="col-md-6">
            <img src="./assets/images/low_income_student.jpg">
        </div>
      </div>
    </div>
  </div>
</section>


<section id ="program1">
  <div class="mission-content-left">
    
    <div class="container">
      <div class= "row">
       
        <div class="col-md-6">
            <img src="./assets/images/low_income_student.jpg">
        </div>
       
        <div class="col-md-6">
            <h1 class="wow fadeInUp" data-wow-delay="0s">Preserving Historical Silicon Valley Homes</h1>
            
            <p class="wow fadeInUp" data-wow-delay="0.8s" style="padding-top:25px">California's wealth of historic buildings and neighborhoods is mactched by few other states. These artifacts reflect its rich multicultural history, from earliest times to the present. Pontes Network protects our historic assets, while moving forward with today's needs.</p>
        </div>
       
      </div>
    </div>
  </div>
</section>


<!--<section class ="morePrograms">-->
<!--   <div class="container">-->
<!--  <div class="row">-->

<!--      <div class=" col-md-4  wow fadeInLeft"  data-wow-delay="1.6s">-->
<!--          <img class="rounded-circle" src="" alt="">-->
<!--          <h4>Preventing Chronic Homelessness</h4>-->
<!--          <p>Pontes Network will increase the housing necessary to make chronically homeless individuals stable, and make available life saving services on their behalf.</p>-->
<!--          <a href="http://google.com">Learn more</a>-->
<!--      </div>-->
<!--      <div class=" col-md-4  wow fadeInLeft"  data-wow-delay="1.6s">-->
<!--          <img class="rounded-circle" src="" alt="">-->
<!--          <h4>Improving good health care for the most vulnerable communities</h4>-->
<!--          <p>Pontes Network will increase the housing necessary to make chronically homeless individuals stable, and make available life saving services on their behalf.</p>-->
<!--          <a href="https://preview.c9users.io/pathfinder0115/pontes-network/angular-src/src/app/prevent-chronic-homelessness/prevent-chronic-homelessness.component.html?_c9_id=livepreview0&_c9_host=https://ide.c9.io">Learn more</a>-->
<!--      </div>      -->
<!--      <div class=" col-md-4  wow fadeInLeft"  data-wow-delay="1.6s">-->
<!--          <img class="rounded-circle" src="" alt="">-->
<!--          <h4>Improving good health care for the most vulnerable communities</h4>-->
<!--          <p>Pontes Network will increase the housing necessary to make chronically homeless individuals stable, and make available life saving services on their behalf.</p>-->
<!--          <a href="https://preview.c9users.io/pathfinder0115/pontes-network/angular-src/src/app/prevent-chronic-homelessness/prevent-chronic-homelessness.component.html?_c9_id=livepreview0&_c9_host=https://ide.c9.io">Learn more</a>-->
<!--      </div>    -->
<!--      <div class=" col-md-4  wow fadeInLeft"  data-wow-delay="1.6s">-->
<!--          <img class="rounded-circle" src="" alt="">-->
<!--          <h4>Construction of Hospital and Strentghening Medical Services</h4>-->
<!--          <p>Pontes Network will increase the housing necessary to make chronically homeless individuals stable, and make available life saving services on their behalf.</p>-->
<!--          <a href="https://preview.c9users.io/pathfinder0115/pontes-network/angular-src/src/app/prevent-chronic-homelessness/prevent-chronic-homelessness.component.html?_c9_id=livepreview0&_c9_host=https://ide.c9.io">Learn more</a>-->
<!--      </div>    -->
<!--   </div>-->
<!--    </div>-->
<!--</section>-->


