




<section id ="program1">
  <div class="mission-content">

    <div class="container">
      <div class= "row">

        <div class="col-md-6 wow bounceInLeft">
            <h4 > Affordable Student and Teacher Housing in California</h4>
            <h5 >San Jose City College Sociology Club's Microloan Program</h5>
            <p  style="padding-top:25px">Pontes Network is addressing three important issues; empowering at-risk sudents to do better themselves through learning a skill or achieving a higher educational degree, affordable and adequate housing for students, and affordable and adequate housing for teachers.
            </p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program1Modal" style="color: #0275d8">View more</a>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/carousel5.jpg">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/affordable_hosing1.jpg">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/affordable_hosing2.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal for program1  -->
<div class="modal fade" id="program1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Affordable Student and Teacher Housing in California</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 >San Jose City College Sociology Club's Microloan Program</h5>
        <p  style="padding-top:25px">There are more than 55,000 homeless college students nationwide, including more than 3,000 teachers who cannot afford Bay Area housing in California alone according to federal data reported by California State University and the National Center for Homeless Education, which is funded by the U.S. Department of Education (2016). Stable housing is a key component of healthy living.
        </p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>


<section id ="program2">
  <div class="mission-content">

    <div class="container">
      <div class= "row">

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/educational_program1.jpg">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/educational_program2.jpg">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="https://farm5.staticflickr.com/4385/36302130310_2c1250268a_o.jpg">
            </div>

          </div>
        </div>

        <div class="col-md-6 wow bounceInRight">
            <h4 >Promoting Strong Higher Education for Low Income Student</h4>
            <h5 >San Jose City College Sociology Club's Microloan Program</h5>
            <p  style="padding-top:25px">The Sociology Club at San Jose City College’s microloan program lends students emergency cash. The Club wanted to fill a gap funding that wasn’t being addressed. An ‘A’ student and club member missed an important sociology exam because his car broke down, and he did not have funds for the repair. As a result he dropped out of college to work full time. Club members learned of this incident and began reading about microfinance and wondered whether such a program could be useful at the College.
            </p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program2Modal" style="color: #ffab40">View more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal for program2  -->
<div class="modal fade" id="program2Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Promoting Strong Higher Education for Low Income Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 >San Jose City College Sociology Club's Microloan Program</h5>
        <p  style="padding-top:25px">We've learned from microfinance in the developing world that repayment rates are high because people with a common bond usually will not default. We think that there will be a similar experiencewith students. If a student defaults on his or her load, it's not hurting some faceless organization. Because repaid money will go back into the fund, a default will hurt a future student who won't be able to get a loan.
        </p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>

<section id ="program3">
  <div class="mission-content container">

   <div class="container">
      <div class= "row">

        <div class="col-md-6 wow bounceInLeft">
            <h4 >Silicon Valley Technology Internship Program</h4>
            <p  style="padding-top:25px">Pontes Network is driven to promote race gender, and class in Technology Driven Companies and San Jose City College. There is a known lack of diversity within STEM-related and technology-driven companies.</p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program3Modal" style="color: #0275d8">View more</a>
        </div>


        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/IMG_0946.JPG">
            </div>
            <div class="col-md-6 col-6 thumbnail">
              <img class="materialboxed" src="./assets/images/internship_program1.jpg" style = " width: 70%" >
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/IMG_0983.JPG">
            </div>

          </div>
    </div>
    </div>
    </div>
  </div>
</section>

<!-- Modal for program3  -->
<div class="modal fade" id="program3Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Silicon Valley Technology Internship Program</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p  style="padding-top:25px">Pontes Network is collaborating with Math and Business Departments at San Jose City College to identify the main cause of the lack of diversity in technology companies and create exclusive paid student internships to improve the lack of diversity in companies.</p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>

<section id ="program4">
  <div class="mission-content">
    <div class="container" >
      <div class= "row" class="row wow fadeInUp" data-wow-offset="150">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/shelter.jpg">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/carousel6.jpg">
            </div>

          </div>
        </div>

        <div class="col-md-6">
            <h4 >Preventing Chronic Homelessness</h4>
            <p  style="padding-top:25px">Chronically homeless individuals generally have lengthy histories of homelessness and sruggle with disabilities and disabling health conditions. This population experience high rates of serious mental illness, substance abuse, and chronice physical illness, with these conditions often co-occurring.</p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program4Modal" style="color: #ffab40">View more</a>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Modal for program4  -->
<div class="modal fade" id="program4Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Preventing Chronic Homelessness</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p  style="padding-top:25px">Pontes Network will increase the housing necessary to make chronically homeless individuals stable, and make available life saving services on their behalf.</p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>

<section id ="program5">
  <div class="mission-content">

    <div class="container">
      <div class= "row" class="row wow fadeInUp" data-wow-offset="150">
        <div class="col-md-6">
            <h4 >Improving Healthcare for the most Vulnerable Communities</h4>
            <h5  style="margin-top:10px">Nicaragua, Central America</h5>
            <p  style="padding-top:25px">In Nicaragua, where diabetes is the fourth leading cause of death, 1 out of 10 adults suffer from the disease. Not only does gestational diabetes present a number of health risks, but it also significantly increase risk of developing type II diabetes in the future.</p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program5Modal" style="color: #0275d8">View more</a>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/007.jpg">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/008.jpg">
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Modal for program5  -->
<div class="modal fade" id="program5Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Improving Healthcare for the most Vulnerable Communities</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5  style="margin-top:10px">Nicaragua, Central America</h5>
        <p  style="padding-top:25px">By volunteerism, donated medical supplies by MedShare, San Leandro, California, Pontes Network is tackling these challenges head on through diabetes screening, detection, and family education through the Roberto Clemente Clinic in Nicaragua.</p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>

<section id ="program6">
  <div class="mission-content">

    <div class="container">
      <div class= "row" class="row wow fadeInUp" data-wow-offset="150">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/010.jpg">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/image21-49.jpeg">
            </div>

          </div>
        </div>

        <div class="col-md-6">
            <h4 >Construction of Hospitals and Strengthening Medical Service</h4>
            <h5  style="margin-top:10px">Sapa Private Hospital, Vietnam</h5>
            <p  style="padding-top:25px">Vietnam has made remarkable progress in improving living and health standards. Despite impressive achievements, hospital in the Vietnam health system still face formidable challenges to effectifely meet the requirements of a rapidly changing social, demographic, and epidemiological situation.</p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program6Modal" style="color: #ffab40">View more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal for program6  -->
<div class="modal fade" id="program6Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Construction of Hospitals and Strengthening Medical Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5  style="margin-top:10px">Sapa Private Hospital, Vietnam</h5>
        <p  style="padding-top:25px">In collaboration MedShare, the Catholic Church, and private of Sapa, through construction of a pricate hospital increasing the hospital bed count and quality health services for the poor. The focus of the project is to increase medical care with the construction of a new hospital with the capability of providing essential health services.</p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>

<section id ="program7">
  <div class="mission-content">
    <div class="container">
      <div class= "row" class="row wow fadeInUp" data-wow-offset="150">

        <div class="col-md-6">
            <h4 >Preserving Historical Silicon Valley Homes</h4>
            <p  style="padding-top:25px">California's wealth of historic buildings and neighborhoods is mactched by few other states. These artifacts reflect its rich multicultural history, from earliest times to the present. These artifacts reflects its rich multicultural history, from earliest times to the present. The materials and workmanship used are impossible or costly to obtain today.</p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program7Modal" style="color: #0275d8">View more</a>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/sv.jpg">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="./assets/images/svh.jpg">
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Modal for program5  -->
<div class="modal fade" id="program7Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Preserving Historical Silicon Valley Homes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p  style="padding-top:25px">In the City of San Jose, the Naglee Park home to be restored and preserved is the 'Daniel D. Tennyson' residence at 54 South 14th Street. The Queen Ann Victorian residential structure is 115 years old home registered as a historical landmark with the City of San Jose and State of California. An excellent example of Sillicon Valley's early agricultural and industrial era, Pontes Network will renovate and preserve the structure for years to come.</p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>
