//change navbar to static
.scrolled{
    background: white;
    height: 66px;
}
.linkScrolled{
    color: #2990ea;
}
.containerScrolled{
    border: none ! important;
}



section{
  .mission-content {
    padding-top: 40px;
    height: 100%;
  }

}

#program1{
  background: white !important;
  color: black;
}

#program2, #program4, #program6{
  background-color: #546e7a;   //rgba(41, 144, 234, 1)
  color: white;
}
#program3, #program7{
  background: white !important;
}


.morePrograms{
    background: white;
    padding: 50px 0 80px;
    text-align: center;
    b, h2,h4 {

        margin: 20px 0 20px;
        color: #4c4c4c;
    }
    p {

        color: #737373;
    }
    img {

        height: 150px;
        width: 150px;
        margin-top: 80px;
    }
    i {

        height: 30px;
        width: 30px;
        padding: 5px;
        font-size: 17px;
        border-radius: 50%;
        background-color: #a0db8e;
        color: #fff;
    }
    a:hover i {

       background-color: #709963;
   }

}

#Header {
   background: white;
  background-size: cover;
  background-position: center;
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    color: black;
    height: 20%;
}

img{
  width: 100%;
  height: auto;
}
