




<section id ="program1">
  <div class="mission-content">

    <div class="container">
      <div class= "row">

        <div class="col-md-6 wow bounceInLeft">
            <h4 > Affordable Student and Teacher Housing in California</h4>
            <h5 >San Jose City College Sociology Club's Microloan Program</h5>
            <p  style="padding-top:25px">There are more than 55,000 homeless college students nationwide, including more than 3,000 teachers who cannot afford Bay Area housing in California alone according to federal data reported by California State University and the National Center for Homeless Education, which is funded by the U.S. Department of Education (2016). Stable housing is a key component of healthy living.
            </p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program1Modal" style="color: #0275d8">View more</a>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/1200/800?image=940">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/640/450?image=906">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/550/420?image=885">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/650/450?image=823">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal for program1  -->
<div class="modal fade" id="program1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Affordable Student and Teacher Housing in California</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 >San Jose City College Sociology Club's Microloan Program</h5>
        <p  style="padding-top:25px">There are more than 55,000 homeless college students nationwide, including more than 3,000 teachers who cannot afford Bay Area housing in California alone according to federal data reported by California State University and the National Center for Homeless Education, which is funded by the U.S. Department of Education (2016). Stable housing is a key component of healthy living.
        </p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>


<section id ="program2">
  <div class="mission-content">

    <div class="container">
      <div class= "row">

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/1200/800?image=940">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/640/450?image=906">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/550/420?image=885">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/650/450?image=823">
            </div>
          </div>
        </div>

        <div class="col-md-6 wow bounceInRight">
            <h4 >Promoting Strong Higher Education for Low Income Student</h4>
            <h5 >San Jose City College Sociology Club's Microloan Program</h5>
            <p  style="padding-top:25px">The Sociology Club at San Jose City College’s microloan program lends students emergency cash. The Club wanted to fill a gap funding that wasn’t being addressed. An ‘A’ student and club member missed an important sociology exam because his car broke down, and he did not have funds for the repair. As a result he dropped out of college to work full time. Club members learned of this incident and began reading about microfinance and wondered whether such a program could be useful at the College.
            </p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program2Modal" style="color: #ffab40">View more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal for program2  -->
<div class="modal fade" id="program2Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Promoting Strong Higher Education for Low Income Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 >San Jose City College Sociology Club's Microloan Program</h5>
        <p  style="padding-top:25px">The Sociology Club at San Jose City College’s microloan program lends students emergency cash. The Club wanted to fill a gap funding that wasn’t being addressed. An ‘A’ student and club member missed an important sociology exam because his car broke down, and he did not have funds for the repair. As a result he dropped out of college to work full time. Club members learned of this incident and began reading about microfinance and wondered whether such a program could be useful at the College.
        </p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>

<section id ="program3">
  <div class="mission-content container">
    <div class="row wow fadeIn" data-wow-offset="150">
        <div class="col-md-6">
            <h4 >Silicon Valley Technology Internship Program</h4>
            <p  style="padding-top:25px">Pontes Network is driven to promote race gender, and class in Technology Driven Companies and San Jose City College. There is a known lack of diversity within STEM-related and technology-driven companies.</p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program3Modal" style="color: #0275d8">View more</a>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/1200/800?image=940">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/640/450?image=906">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/550/420?image=885">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/650/450?image=823">
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<!-- Modal for program3  -->
<div class="modal fade" id="program3Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Silicon Valley Technology Internship Program</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p  style="padding-top:25px">Pontes Network is driven to promote race gender, and class in Technology Driven Companies and San Jose City College. There is a known lack of diversity within STEM-related and technology-driven companies.</p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>

<section id ="program4">
  <div class="mission-content">
    <div class="container" >
      <div class= "row" class="row wow fadeInUp" data-wow-offset="150">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/1200/800?image=940">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/640/450?image=906">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/550/420?image=885">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/650/450?image=823">
            </div>
          </div>
        </div>

        <div class="col-md-6">
            <h4 >Preventing Chronic Homelessness</h4>
            <p  style="padding-top:25px">Pontes Network will increase the housing necessary to make chronically homeless individuals stable, and make available life saving services on their behalf.</p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program4Modal" style="color: #ffab40">View more</a>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Modal for program4  -->
<div class="modal fade" id="program4Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Preventing Chronic Homelessness</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p  style="padding-top:25px">Pontes Network will increase the housing necessary to make chronically homeless individuals stable, and make available life saving services on their behalf.</p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>

<section id ="program5">
  <div class="mission-content">

    <div class="container">
      <div class= "row" class="row wow fadeInUp" data-wow-offset="150">
        <div class="col-md-6">
            <h4 >Improving Healthcare for the most Vulnerable Communities</h4>
            <h5  style="margin-top:10px">Nicaragua, Central America</h5>
            <p  style="padding-top:25px">In Nicaragua, where diabetes is the fourth leading cause of death, 1 out of 10 adults suffer from the disease. By volunteerism, donated medical supplies by MedShare, San Leandro, California, Pontes Network is tackling these challenges head on through diabetes screening, detection, and family education through the Roberto Clemente Clinic in Nicaragua.</p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program5Modal" style="color: #0275d8">View more</a>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/1200/800?image=940">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/640/450?image=906">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/550/420?image=885">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/650/450?image=823">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Modal for program5  -->
<div class="modal fade" id="program5Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Improving Healthcare for the most Vulnerable Communities</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5  style="margin-top:10px">Nicaragua, Central America</h5>
        <p  style="padding-top:25px">In Nicaragua, where diabetes is the fourth leading cause of death, 1 out of 10 adults suffer from the disease. By volunteerism, donated medical supplies by MedShare, San Leandro, California, Pontes Network is tackling these challenges head on through diabetes screening, detection, and family education through the Roberto Clemente Clinic in Nicaragua.</p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>

<section id ="program6">
  <div class="mission-content">

    <div class="container">
      <div class= "row" class="row wow fadeInUp" data-wow-offset="150">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/1200/800?image=940">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/640/450?image=906">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/550/420?image=885">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/650/450?image=823">
            </div>
          </div>
        </div>

        <div class="col-md-6">
            <h4 >Construction of Hospitals and Strengthening Medical Service</h4>
            <h5  style="margin-top:10px">Sapa Private Hospital, Vietnam</h5>
            <p  style="padding-top:25px">The focus of the project is to increase medical care with the construction of a new hospital with the capability of providing essential health services.</p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program6Modal" style="color: #ffab40">View more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal for program6  -->
<div class="modal fade" id="program6Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Construction of Hospitals and Strengthening Medical Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5  style="margin-top:10px">Sapa Private Hospital, Vietnam</h5>
        <p  style="padding-top:25px">The focus of the project is to increase medical care with the construction of a new hospital with the capability of providing essential health services.</p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>

<section id ="program7">
  <div class="mission-content">
    <div class="container">
      <div class= "row" class="row wow fadeInUp" data-wow-offset="150">

        <div class="col-md-6">
            <h4 >Preserving Historical Silicon Valley Homes</h4>
            <p  style="padding-top:25px">California's wealth of historic buildings and neighborhoods is mactched by few other states. These artifacts reflect its rich multicultural history, from earliest times to the present. Pontes Network protects our historic assets, while moving forward with today's needs.</p>
            <a class="waves-effect waves-teal btn-flat" data-toggle="modal" data-target="#program7Modal" style="color: #0275d8">View more</a>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/1200/800?image=940">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" src="http://unsplash.it/640/450?image=906">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/550/420?image=885">
            </div>
            <div class="col-md-6 col-6">
              <img class="materialboxed" width="100" src="http://unsplash.it/650/450?image=823">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Modal for program5  -->
<div class="modal fade" id="program7Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Preserving Historical Silicon Valley Homes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p  style="padding-top:25px">California's wealth of historic buildings and neighborhoods is mactched by few other states. These artifacts reflect its rich multicultural history, from earliest times to the present. Pontes Network protects our historic assets, while moving forward with today's needs.</p>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal" style="color: #0275d8">close</a>
      </div>
    </div>
  </div>
</div>
