<!---- Footer ---->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow fadeInLeftSmall" data-wow-delay="0.4s">
                <h4>Contact Us</h4>
                <p><i class="fa fa-home" aria-hidden="true"></i> 14th Street, San Jose, CA 95144</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> info@pontesnetwork.com</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> +1 222 222 2222</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i> www.pontesnetwork.com</p>
            </div>
            <hr class="hidden-md-up" style="width: 90%; background-color: rgba(255, 255, 255, 0.4)">
            <div class=" middle col-md-4 wow fadeInUpSmall" data-wow-delay="0.4s">
              <div class="content">
                <h4>About</h4>
                <p><i class="fa fa-square-o" aria-hidden="true"></i> About Us</p>
                <p><i class="fa fa-square-o" aria-hidden="true"></i> Privacy</p>
                <p><i class="fa fa-square-o" aria-hidden="true"></i> Term & Condition</p>
              </div>
            </div>
            <hr class="hidden-md-up" style="width: 90%; background-color: rgba(255, 255, 255, 0.4)">
            <div class=" col-md-4 wow fadeInRightSmall" data-wow-delay="0.4s">
                <h4>Stay in touch</h4>
                <i class="social fa fa-facebook" aria-hidden="true"></i>
                <i class="social fa fa-twitter" aria-hidden="true"></i>
               <i class="social fa fa-linkedin" aria-hidden="true"></i>
               <i class="social fa fa-pinterest" aria-hidden="true"></i>
               <i class="social fa fa-youtube" aria-hidden="true"></i>
               <i class="social fa fa-github" aria-hidden="true"></i><br>
               <input type="email" placeholder="Subscribe For Updates"><button class="btn btn-primary">Subscribe</button>
            </div>
        </div>
    </div>
</section>
