<title>Checkin - Pontes Network</title>
<section class="section-header">
  <div class="checkin-content">

    <div class="container">
      <h2 class="wow fadeInUp" data-wow-delay="0s">Check in with us here</h2>
    </div>
  </div>
</section>

<section id="letter">
  <div class="letter-content">

    <div class="container">
      <h1 data-wow-delay="0s">Monthly Check-in</h1>
      A list of monthly letters from our directors. You are wellcome to disscuss about the letters by adding comments. Thank you
      <p >-Pontes Network</p>
    </div>
  </div>
</section>

<div class="row" style="text-align: center">
  <h5>{{loadingLettersError}}</h5>
</div>

<!-- load each instance of LetterComponent -->
<app-letter
        *ngFor="let letter of letters"
       [letter]="letter"
        ></app-letter>






<div class="container newletterForm" style="margin-top: 40px">
  <a class="waves-effect waves-teal btn-flat"
     style="color: #0275d8; text-transform: lowercase;"
     (click) ="onClickNewLetterButton()">
     Add a new monthly letter (Admin only)
  </a>
  <app-new-letter-from [ngClass] = "{hide: this.clickNewLetterButton}"></app-new-letter-from>
</div>
