section{
  // background: url('./assets/images/mission.jpg');
  background: white;
  background-size: cover;
  background-position: center;
  .mission-content{
    // background-color: rgba(41, 144, 234, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: black;
    height: 100%;
  }
}
