<section>
  <div class="mission-content">
    
    <div class="container">
      <h1 class="wow fadeInUp" data-wow-delay="0s">Our Core Mission</h1>
      <hr style = "width: 60%">
      <p class="wow fadeInUp" data-wow-delay="0.4s">GEO Pontes, Inc. (Pontes Network) is a non-profit, community based organization whose mission is to develop economic stability for individuals and families living in the San Jose Bay Area, Silicon Valley, Santa Cruz County, and select humanitarian aid projects in Central America and Vietnam.</p>

    </div>
  </div>
</section>

